/*
    Check out http://www.fontsquirrel.com/fonts/list/style/Sans%20Serif for different fonts
    Ass bold!
 */
@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: local('Open Sans'), local('OpenSans'),
         url('Fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('Fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Note for things like changing things like navbar color, fonts, font colors etc. customize Bootstrap
     at build to save valuable bytes!! */

/* Account for fixed navbar */
body {
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: 'Open Sans', Helvetica, Arial Sans-Serif;
    color: #222222;
    background: url("../Images/paper_fibers.png") repeat scroll 0% 0% transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-weight: 300;
}

.navbar {
    background-color: #EEEEEE;
}

.navbar-brand {
    font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
    color: #555;
}

.navbar-brand:hover {
    color: #333;
}

.table th {
    text-transform: uppercase;
}

.accent-color, header h1, header h2, table th {
    /*color: #24A0DA;*/
    /*color: #2493da;*/
    /*color: #a3cd39;*/
    color: #90b633;
}

.login {
    margin-top: 20px;
}

/*
 Demo Code!
*/
.table tbody tr td.error{
  background-color: #f2dede;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.graph {
    height: 100%;
    margin-bottom: 16px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    /* Force table to not be like tables anymore */
    table.table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .table-responsive thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .table-responsive td {
        /* Behave like a "row" */
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

        .table-responsive td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
            content: attr(data-title);
            color: #90b633;
        }
}
/* @media (max-width: 767px) {
@media screen and (max-width: 480px) {
    
    .table-responsive tr {
        display: block;
        padding: 8px;
    }

    .table-bordered.table-responsive tr {
        border: 1px solid #DDD;
        border-top: 0;
        border-right: 0;
    }

    .table-responsive td,
    .table-responsive th {
        display: block;
        padding: 0;
        font-weight: normal;
        border: none;
    }

    .table-responsive th {
        font-style: italic;
    }
}
 */