<!doctype html>
<!-- Based on HTML5 Boilerplate -->
<!-- TO-DO: Check for
    <html class="no-js">
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ember.js • OccupOS-dev</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/main.css">
    </head>
<!-- role application not 100% sure -->
    <body role="application">
        <section>
            <header role="banner">
                <nav role="navigation"></nav>
            </header>
            <div role="main" id="occupOSMonitor">
            
            </div>
        
            <footer>
            
            </footer>
        </section>
        <!--
            Boilerplate:
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
            <script src="js/plugins.js"></script>
            <script src="js/main.js"></script>
            -->
        <!--
            <script src="js/application.js"></script>
            -->
    </body>
</html>