<header role="banner">
  <h1>Test</h1>
</header>
<!-- this will insert an instance of the CreateTodoTextField view -->
{{view Todos.CreateTodoTextField}}

<!-- a dynamic section of the view hierarchy that will be filled in
     response to routing changes -->
{{outlet}}
