{{view OccupOS.NavbarView}}

<div class="container">
    {{outlet}}
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="container">
    &copy;2013 {{unbound OccupOS.author}}
  </div>
</div>

