<!--Temporarily create the login in here -->
<div class="row">
    <div class="login span6 offset3">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" />
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" /> Remember me
                        </label>
                        |
                        <a href="#">
                            Forgot Password?
                        </a>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="login span6 offset3">
        <h2>Just arrived? Sign up here</h2>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Full Name</label>
                <div class="controls">
                    <input type="text" id="inputFullName" placeholder="Full name" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>