<div class="row">
    <div class="span7">
        <h2>Work-environment Quality</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Room ID</th>
                    <th>Light Intensity</th>
                    <th>Temp</th>
                    <th>Air Quality</th>
                    <th>Wind</th>
                    <th>Overall</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Room ID">#1.05</td>
                    <td data-title="Light Intensity">0.5</td>
                    <td data-title="Temp">21°C</td>
                    <td data-title="Air Quality" class="text-error"><strong>Low</strong></td>
                    <td data-title="Wind">None</td>
                    <td data-title="Overall" class="text-success">Good</td>
                </tr>
                <tr>
                    <td data-title="Room ID">#1.06</td>
                    <td data-title="Light Intensity">0.5</td>
                    <td data-title="Temp">21°C</td>
                    <td data-title="Air Quality">High</td>
                    <td data-title="Wind">None</td>
                    <td data-title="Overall" class="text-success">Good</td>
                </tr>
                <tr>
                    <td data-title="Room ID">#1.10</td>
                    <td data-title="Light Intensity">0.5</td>
                    <td data-title="Temp">21°C</td>
                    <td data-title="Air Quality">High</td>
                    <td data-title="Wind">None</td>
                    <td class="text-success">Good</td>
                </tr>
                <tr>
                    <td data-title="Room ID">#1.12</td>
                    <td data-title="Light Intensity">0.5</td>
                    <td data-title="Temp" class="text-error">19°C</td>
                    <td data-title="Air Quality">High</td>
                    <td data-title="Wind" class="text-error">Some</td>
                    <td data-title="Overall" class="text-error"><strong>Bad</strong></td>
                </tr>
                <tr>
                    <td data-title="Room ID">#1.5</td>
                    <td data-title="Light Intensity">0.5</td>
                    <td data-title="Temp">21°C</td>
                    <td data-title="Air Quality">High</td>
                    <td data-title="Wind">None</td>
                    <td data-title="Overall" class="text-success">Good</td>
                </tr>
                <tr>
                    <td data-title="Room ID">#1.21</td>
                    <td data-title="Light Intensity">0.5</td>
                    <td data-title="Temp">21°C</td>
                    <td data-title="Air Quality">High</td>
                    <td data-title="Wind">None</td>
                    <td data-title="Overall" class="text-success">Good</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span5">
        <div id="viz"></div>
    </div>
</div>