<div class="row">
    <div class="span7">
        <h2>Work-environment Quality</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Room ID</th>
                    <th>Light Intensity</th>
                    <th>Temperature</th>
                    <th>Air Quality</th>
                    <th>Wind</th>
                    <th>Overall</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#1.05</td>
                    <td>0.5</td>
                    <td>21°C</td>
                    <td>High</td>
                    <td>None</td>
                    <td>Good</td>
                </tr>
                <tr>
                    <td>#1.05</td>
                    <td>0.5</td>
                    <td>21°C</td>
                    <td>High</td>
                    <td>None</td>
                    <td>Good</td>
                </tr>
                <tr>
                    <td>#1.05</td>
                    <td>0.5</td>
                    <td>21°C</td>
                    <td>High</td>
                    <td>None</td>
                    <td>Good</td>
                </tr>
                <tr>
                    <td>#1.05</td>
                    <td>0.5</td>
                    <td>21°C</td>
                    <td>High</td>
                    <td>None</td>
                    <td>Good</td>
                </tr>
                <tr>
                    <td>#1.05</td>
                    <td>0.5</td>
                    <td>21°C</td>
                    <td>High</td>
                    <td>None</td>
                    <td>Good</td>
                </tr>
                <tr>
                    <td>#1.05</td>
                    <td>0.5</td>
                    <td>21°C</td>
                    <td>High</td>
                    <td>None</td>
                    <td>Good</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span5">
        <div id="viz"></div>
    </div>
</div>