<header role="banner">
    <!-- possibly add <nav></nav> element for html5 compliance-->
    <div class="navbar navbar-fixed-top">
        <button class="navbar-toggle" data-target=".nav-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- possibly use <figure> and <figcaption> or <h1> for logo -->
        <img src="/Images/OccupOSIcon.png" style="float: left; margin-top:5px; margin-right: 5px;" alt="logo"></img>
        <a class="navbar-brand" href="#">  
            {{unbound OccupOS.name}}
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li>
                    {{#linkTo "index"}}<span class="glyphicon glyphicon-cog"></span>{{/linkTo}}
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</header>