<h2>  
<p>Data from Light sensors</p>
</h2>
<div class="linechart"></div>
<div class ="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong>The latest data did not change. Check your sensors!
</div>