<p>Table Widget</p>
<div>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Occupants</th>
                <th>Light Intensity</th>
                <th>Temp</th>
                <th>Pressure</th>
                <th>Humidity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="Room ID">1.05</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">78%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.05</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">78%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.05</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">78%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
        </tbody>
    </table>
</div>
<p>See: {{view.test}}</p>